@import "./normalize.css";

/* root获取根元素html */
/* --定义变量 */
:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --font-size: 14px;
    --line-height: 1.5;
}

html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}